*{
    margin: 0px ;
    padding: 0px ;
}

    body,html {
    
            min-height: 100vh;

        }

        /* Aqui começa os estilos que fazem parte de fundo do site astronauata */
    body{

            background: gray url(../Imagens/espaco.jpg) center center no-repeat fixed ;
            background-size: cover;
            position: relative;
            
    }

    /* O estilo que sobrepõe a página do site astronauta */

    img{
          display: block  ;
          margin: 0px auto ; 
          width: 45vw;
          filter: drop-shadow(4px 4px 30px rgb(108, 108, 250) );

    }
