*{
    margin: 0px ; 
    padding: 0px ;
}
body,html{

        width: 100vw ;
        height: 100vh ;
        box-sizing: border-box;
}
body {
        background: darkgray url('../imagens/sonho_01.jpg') no-repeat ;
        background-size: cover ;
        background-position: bottom center ;
}

main {
        background-color: rgba(255, 255, 255, 0.705);
        text-align: center ;
        margin: 0px auto ; 
        max-width: 800px ;
        min-width: 320px ; 
        height: 500px ;
}

main > h1 {

        font-size: 8vw;
}