*{
    margin: 0px ; 
    padding: 0px ;
}

body,html{

        width: 100vw ;
        height: 100vh ;
        box-sizing: border-box;
}
body {
        background: darkgray url('../imagens/sonho_01.jpg') no-repeat ;
        background-size: cover ;
        background-position: bottom center ;
}
 
main {
        height: 100% ;
        position: relative ;
}

section#base {

        position: absolute ;
        width: 300px ; 
        height:  500px ;
        backdrop-filter: blur(10px);
        top: 50% ; 
        left : 50% ; 
        transform: translate(-50%,-50%);
        border-radius: 20px ;
        border: 1px solid white ; 
        padding: 0px 7px;
        transition:.3s ; 
}

 div#log  {

        display : block ; 
        height: 150px;
      
        
}

div#log > h1 {

        font-size: 4em ;
        text-align: center ;
        padding-top : 50px ;  
        color: white ; 
}

div#formu {

        height: 345px ;
        background-color: rgba(255, 255, 255, 0.301);
        border-radius: 25px ;
        border: 1px solid rgba(0, 0, 0, 0.329) ;  
}

div#text {

        height: 90px ;
        border-radius: 20px 20px 0px 0px ;
        padding: 8px ; 
}

div#text > h2 {

        text-align: center ;
        padding: 4px 0px ;
        margin-bottom : 4px ; 
        color: white ; 
        font-size : 1.9em ; 
}

div#text > p {

        color:white ; 
        font-size : 1.1em ;
        text-align: justify ;
}

div.inputs{

        background-color: black ;
        height : 35px  ; 
        margin: 5px 5px ;
        color:white ; 
        padding :6px 5px ; 
        display: block ;
        border-radius: 10px ;
        border: 1px solid white ;  
              
}

div.inputs > input[type=email] , input[type=password] {

        height : 35px ; 
        width: calc( 100% - 50px ) ;
        transform: translateY(-2px);
        border-radius: 10px ;
        border: 1px solid black ; 
}

div.inputs > label {
        
        text-align : center ; 
        padding: 1px ; 
}

div#dois {

        margin: 14px 0px ; 
        padding: 5px 20px ;  
        height: 30px ;
}

div#dois > input[type=submit] , input[type=reset] {
        
        display: block ; 
        width : 40% ;
        height: 100% ;
        border-radius: 10px   ;
        border : 1px solid white  ; 
        color : white ; 
        background-color: black ;
        cursor: pointer;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
        transition: .3s;

}

div#dois > input[type=reset]:hover {

        background-color: white ;
        color: black  ; 
        border: 1px solid black ;  
}

div#dois > input[type=submit]:hover {

        background-color: white ;
        color: black  ; 
        border: 1px solid black ;  
}

div#enco {

        position: relative ; 
        height : 40px ;
        text-align: center ; 
         
}

div#enco > a {

        position: absolute ; 
        top: 50% ; 
        left: 50% ; 
        transform: translate(-50%,-50%);
        text-decoration: none ;
        color: black ; 
        background-color : white ; 
        display: block ; 
        width: 60% ; 
        height : 25px ; 
        padding : 6px ;
        border-radius: 10px ;
        border: 1px solid black ; 
        box-shadow: 0px 0px 10px rgba(39, 39, 39, 0.39);
        transition: .3s ;
}

div#enco > a:hover {

        color:white ; 
        background-color: black ;
        border: 1px solid white ; 
}

div#dois > input[type=reset] {

        float: right ; 
}

div#dois > input[type=submit] {

        float: left ; 
}