    body {
        background-image: linear-gradient(0.59turn,purple,rgb(241, 85, 85) , rgb(118, 116, 116),rgb(55, 54, 54));
        background-attachment: fixed;
    }
    h1 {
        background-color: rgb(71, 71, 243);
        padding: 8px;
    }
    h2{
        background-color: darkgoldenrod
        ;
        padding: 10px ;
    }

    p {
        text-align: justify;
        text-indent: 40px;
        font: normal 1.1em verdana , sans-serif;
    }

    h1#sus {
        text-align: center;
        color: rgb(250, 248, 252);
        padding: 15px;
    }

    #atentar {
        text-align: right;
        color: bisque;
    }

    .fa {
        text-align: center;
        font-weight: bolder;
        font-size: 3.5em;
    }