*{
    margin: 0px ; 
    padding: 0px ; 
}

html,body {
            min-height: 100vh ;
            background-color: rgb(202, 202, 202) ;
}


 :root {
            --primeira : Olamedi ; 
            --segundo  : Monis ; 
            --terceiro  : Belquis ; 
 }
/* Aqui começa os estilos que estão aplicadas no header do site */ 
header {
         background-color: black;
         padding: 10px ;
         text-align: center ;

}

header  > h1 {
              color: white ; 
              font-variant: small-caps;
              font-size: 4em ;
              margin-top: 6vh ;
              font-family: var(--primeira);
}

header > p {
             
            margin-bottom: 9vh ;
            font-size: 1.2em ;
            color: white ;
            font-family: var(--terceiro);
}


header > p > a {

            text-decoration: none;
            color: white ; 
}

header > p > a:hover {

            text-decoration: underline  3px rgb(247, 247, 133) ;
}


/* Aqui começa os estilos que estão aplicadas nas sections depois do header do site */ 

    /* Os estilos que são aplicadas as section com a class  declarada como normal */

    .normal{
            
            background-color: white ;
            padding: 6vh 0vh 6vh 4vh ;
    }

    .normal > p {
                    background-color: rgb(255, 255, 255);
                    width: 360px ;
                    line-height: 2.3em ;
                    padding-left: 10px ;
                    font-family: var(--segundo);
                    font-size: 2em;
    }

    /* Os etilos que são aplicadas as section com class declarada como imagem */ 

    .imagem {
                
                padding: 6vh 0vh 6vh 4vh ;
    }

    .imagem > p {

                line-height: 2em ;
                background-color: rgba(0, 0, 0, 0.349) ;
                width: 360px ;
                padding-left: 10px ;
                color: white ;
                font-family: var(--segundo);
                font-size: 2em;
    }


    /* Os estilos que estão aplicadas no footer da página e os seus elementos internos  */ 

        footer {

                background-color: black ;
                color : white ; 
                padding: 3vh 0vh 3vh  0vh ;
                text-align: center ;
                font-family: var(--terceiro);
        }


        footer > p >  a {
                        text-decoration: none ;
                        color:white ; 
                        font-weight: bolder;
                        font-family: var(--terceiro);
        }

        footer > p > a:hover {

                        text-decoration: underline rgb(252, 252, 104) 3px ;
        }