body {
        background-image:url('../all/pacote-imagens-cap25/imagens/cev-portrait.jpg');
       background-size: contain ; 
       background-repeat: no-repeat;
       background-position: bottom center  ;
}